.navbar {
  background-color: #f5f5f5;
  padding: 60px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar-item a:hover {
  color: #555;
}

.navbar-text-center {
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navbar-right {
  margin-left: auto;
}
